* {
    font-size: 10px;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    text-align: center;
}

a,
.monsterButton {
    color: rgb(6, 8, 41);
    text-decoration: none;
    background-color: rgb(247, 213, 224);
    transition: all 100ms ease-in;
}

a {
    font-size: 1rem;
    display: block;
    margin: 47vw;
    margin-top: 0.8vh;
    margin-bottom: 0.2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 2.5%;
}

a:hover,
.monsterButton:hover {
    background-color: rgb(45, 24, 94);
    color: white;
    font-weight: bolder;
}

body {
    background: linear-gradient(to right, rgb(253, 239, 244), rgb(243, 239, 255));
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-left: 20vw;
    padding-left: 5vw;
    margin-right: 20vw;
    padding-right: 5vw;
    margin-top: 20vh;
    padding-top: 8vh;
    padding-bottom: 8vh;
    border-radius: 5%;
}


h1 {
    font-size: 8rem;
    margin-bottom: 3vh;
    text-shadow: 13px 4px 18px rgba(241, 10, 10, 0.17),
                14px -6px 25px rgba(58, 15, 247, 0.5),
                -6px -7px 25px rgba(138, 31, 209, 0.32),
                -12px 9px 25px rgba(255, 140, 8, 0.37);
    color: rgb(255, 255, 255);
}

.healthZone {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-bottom: 5vh;
}

.healthZone div {
    width: 50vw;
    font-weight: bold;
    box-shadow: 3px 4px 18px rgba(241, 10, 10, 0.089),
    14px -6px 25px rgba(58, 15, 247, 0.055),
    -6px -7px 25px rgba(138, 31, 209, 0.089),
    -12px 9px 25px rgba(255, 140, 8, 0.041);;
}

.healthZone > div:first-child {
    background: linear-gradient(to right, rgb(98, 18, 163) 100%, black);
    color: rgb(183, 183, 233);
}

.healthZone > div:last-child {
    background: linear-gradient(to left, rgb(204, 25, 64) 100%, black);
    color: rgb(245, 157, 157);
}

p {
    font-size: 3rem;
}

button {
    height: 40px;
    width: 160px;
    font-size: 1.6rem;
    transition: all 100ms ease-in;
}

.attackButton {
    background-color: rgb(238, 154, 154);
    transition: all 100ms ease-in;
}

.specialAttackButton {
    background-color: rgb(177, 165, 151);
    color: grey;
    transition: all 100ms ease-in;
    pointer-events: none;
}

.specialAttackButtonActive {
    background-color: rgb(248, 190, 124);
    transition: all 100ms ease-in;
    pointer-events: auto;
}

.healButton {
    background-color: rgb(152, 132, 241);
    transition: all 100ms ease-in;
}

.specialHealBtn {
    background-color: rgb(187, 188, 190);
    color: grey;
    transition: all 100ms ease-in;
    pointer-events: none;
}

.specialHealBtnActive {
    background-color: rgb(138, 185, 255);
    transition: all 100ms ease-in;
    pointer-events: auto;
}

.specialHealBtn:hover,
.specialHealBtnActive:hover {
    background-color: rgb(51, 110, 199);
    color: white;
}

.abandonButton {
    background-color: rgb(204, 158, 235);
    transition: all 100ms ease-in;
}

.attackButton:hover {
    background-color: rgb(219, 106, 106);
    color: crimson;
}

.specialAttackButton:hover,
.specialAttackButtonActive:hover {
    background-color: rgb(216, 147, 68);
    color:rgb(167, 74, 8);
}

.healButton:hover {
    background-color: rgb(102, 80, 204);
    color:rgb(76, 17, 116);
}

.abandonButton:hover {
    background-color: rgb(153, 94, 192);
    color:rgb(86, 8, 117);
}

.logs {
    margin-top: 5vh;
}

.logs p {
    font-size: 1.8rem;
}

.deadMonster {
    background-color: rgb(45, 24, 94);
    color: white;
    pointer-events: none;
}

.overlord {
    background-color: rgb(45, 24, 94);
    color: blueviolet;
    pointer-events: none;
}

.overlordReady {
    background-color: rgb(233, 12, 78);
    color: rgb(213, 178, 226);
}

.warning {
    margin-bottom: 5vh;
    font-size: 1.8rem;
    color: rgb(145, 14, 64);
}
